.country_detail {
    width: 100vw;
    height: 100%;
    padding: 5vw;
}
.back_btn {
    padding: 7px 25px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .1),-1px -1px 5px 0 rgba(0, 0, 0, .1);
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.back_btn a {
    color: #000;
    text-decoration: none;
}
.country {
    display: flex;
    width: 100%;
    padding: 5vw 0;
}
.country > div {
    flex-grow: 1;
    
    width: 50%;
}
.country > div >img {
    width: 80%;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .2),-1px -1px 5px 0 rgba(0, 0, 0, .2);
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
}
.information {
    display: flex;
    height: 100%;
}
.info h2 {
    font-size: 27px;
    margin-bottom: 2rem;
}
.information > div {
    width: 50%;
}
.information p{
    color: rgba(0, 0, 0, .8);
    margin-bottom: .5rem;
    
}
 p span {
    font-weight: 500;
    color: rgba(0, 0, 0, .9);
    margin-right: 1rem;
}
.borders p {
    margin-bottom: 15px;
}
.borders > div > span {
    padding: 4px 20px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .1),-1px -1px 5px 0 rgba(0, 0, 0, .1);
    margin-bottom: 15px;
}

.country_detail.dark {
    background-color: #212e37;
    color: black;
}
.country_detail.dark .back_btn {
    background-color: #2b3743;
    
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .2),-1px -1px 5px 0 rgba(0, 0, 0, .2);
}
.country_detail.dark .back_btn a {
    color: white;
}
.dark .information p{
    color: rgba(255, 255, 255, .8);
}

.dark p span {
    color: rgba(255, 255, 255, 1);
}
.dark .heading {
    color: white;
}
.dark .borders > div > span {
    background-color: #2b3743;
    color: white;
}
.dark .borders > div > p {
    color: white;
}
@media (max-width:650px ) {
    .country {
        flex-direction: column;
    }
    .country > div {
        width: 100%;
        flex-grow: 0;
    }
    .country > div >img {
        width: 100%;
    }
    .information {
        flex-direction: column;
    }
    .information > div {
        width: 100%;
        margin-bottom: 2rem;
    }
    .borders > div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    
    }
}